@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

header{
    font-family: 'PT Sans', sans-serif;
    font-size: 60px;
    color: rgb(182, 212, 203);
    box-shadow: 10px 10px slateblue;

}