@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

header{
    font-family: 'PT Sans', sans-serif;
    font-size: 65px;
    color: rgb(182, 212, 203);
    text-shadow: 5px 1px slateblue;
    text-align: center;
}