@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');


header{
    font-family: 'PT Sans', sans-serif;
    font-size: 70px;
    color: rgb(182, 212, 203);
    text-shadow: 5px 1px slateblue;
    text-align: center;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.board{
    height: 50vh;
    width: 50vh;

    position: relative;
    top: 80px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    border: 2px black solid;
}

.grid{
    border: 2px black solid;

    font-size: 50px;
    text-align: center;
    padding-top: 30px;


}

.grid:hover{
    cursor: pointer;
}

.status{
    position: relative;
    top: 120px;

    font-size: 40px;
    font-family: 'PT Sans', sans-serif;
}

.restart{
    position: relative;
    top: 150px;

    height: 50px;
    width: 150px;

    background-color: rosybrown;
    box-shadow: 3px 3px rgb(90, 90, 241);

    font-family: 'PT Sans', sans-serif;
    color: white;
}

.restart:hover{
    cursor: pointer; 
    background-color: rgb(255, 251, 0);
    color: black;


}
